---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Quantum Cars">
	<Header/>
	<main>
		<div class="flex align-center justify-center w-full">
			<h1 class="text-4xl">NUESTROS COCHES</h1>
		</div>
	</main>
</Layout>

