---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Quantum Cars">
	<Header/>
	<main>
        <h1>Esto es la página de coches</h1>
	</main>
</Layout>