<section 
    class="landing-section h-screen w-screen text-white text-center relative overflow-hidden"
    data-header-color="white"
>
    
    <div class="flex flex-col justify-between z-30 relative h-full">
        <header class="pt-40">
            <h2 class="text-white text-4xl font-medium">Descubra nuestra selección de BMW</h2>
            <p class="text-white text-base">Programe una cita o bien visite nuestro centro hoy mismo</p>
        </header>

        <footer class="pb-24">
            <a href="#" class="text-xl border-2 border-white bg-white/5 backdrop-blur-md rounded-md px-12 py-2 hover:bg-white hover:text-black">Descubrir vehículos</a>
        </footer>
    </div>

    <!-- Imagen de fondo -->
    <div class="absolute top-0 left-0 right-0 bottom-0 z-10">
        <img src="../backgrounds/bmw_header.jpg" class="object-cover w-full h-full"/>
    </div>

</section>