<section 
    class="landing-section text-black text-center relative overflow-hidden"
    data-header-color="white"
>

    <div class="flex flex-col z-30 h-full py-20 mx-32">
        <div class="h-1/5">
            <h2 class="text-black text-2xl font-bold mb-5">Encuentra la selección de tus marcas favoritas</h2>
            <hr>
        </div>

        <div class="h-3/5  py-12">
            <div class="grid grid-cols-5 gap-4 text-center">
                <div>
                    <img src="https://www.svgrepo.com/show/305809/bmw.svg" alt="BMW" class="mx-auto w-16 h-16">
                    <p>BMW</p>
                </div>
                <div>
                    <img src="https://www.svgrepo.com/show/446911/porsche.svg" alt="Porsche" class="mx-auto w-16 h-16">
                    <p>Porsche</p>
                </div>
                <div>
                    <img src="https://www.svgrepo.com/show/446911/porsche.svg" alt="Audi" class="mx-auto w-16 h-16">
                    <p>Audi</p>
                </div>
                <div>
                    <img src="https://www.svgrepo.com/show/446911/porsche.svg" alt="Ford" class="mx-auto w-16 h-16">
                    <p>Ford</p>
                </div>
                <div>
                    <img src="https://www.svgrepo.com/show/446911/porsche.svg" alt="Kia" class="mx-auto w-16 h-16">
                    <p>Kia</p>
                </div>
                <div>
                    <img src="https://www.svgrepo.com/show/446911/porsche.svg" alt="Mercedes Benz" class="mx-auto w-16 h-16">
                    <p>Mercedes Benz</p>
                </div>
                <div>
                    <img src="https://www.svgrepo.com/show/446911/porsche.svg" alt="Volkswagen" class="mx-auto w-16 h-16">
                    <p>Volkswagen</p>
                </div>
                <div>
                    <img src="https://www.svgrepo.com/show/446911/porsche.svg" alt="Volvo" class="mx-auto w-16 h-16">
                    <p>Volvo</p>
                </div>
                <div>
                    <img src="https://www.svgrepo.com/show/446911/porsche.svg" alt="Volvo" class="mx-auto w-16 h-16">
                    <p>Volvo</p>
                </div>
                <div>
                    <img src="https://www.svgrepo.com/show/446911/porsche.svg" alt="Volvo" class="mx-auto w-16 h-16">
                    <p>Volvo</p>
                </div>
            </div>
            
            
        </div>

        <div class="h-1/5">
            <a class="text-black text-xl mb-5" href="#">Ver más marcas</a>
        </div>
    </div>

</section>