---
import Phone from '../../public/icons/Phone.astro';
import Map from '../../public/icons/Map.astro';
---

<header id="landing-header" class="py-3 px-10 flex items-center w-full justify-between z-40 text-black">
    <div class="flex flex-grow basis-0">
        <h2 class="text-2xl font-extrabold">QUANTUM CARS</h2>
    </div>

    <nav class="text-md [&>a]:transition-colors [&>a]:duration-500 [&>a]:text-current [&>a]:inline-block [&>a]:px-4 [&>a]:py-2">
        <a class="hover:font-bold" href="vehiculos">Vehículos</a>
        <a class="hover:font-bold" href="#">Empresa</a>
        <a class="hover:font-bold" href="#">Tasación</a>
    </nav>

    <nav class="flex flex-grow justify-end basis-0 text-md [&>a]:transition-colors [&>a]:duration-500 [&>a]:text-current [&>a]:inline-block [&>a]:px-4 [&>a]:py-2">
        <a class="hover:font-bold" href="#">
            <Phone/>
        </a>
        <a class="hover:font-bold" href="#">
            <Map/>
        </a>
    </nav>
</header>
